//How to declare variable

$font-family:"Be Vietnam Pro", serif;
$background-color-1: hsl(13, 100%, 96%);
$ButtonText-color-1: hsl(13, 100%, 96%);
$ButtonText-color-2: hsl(12, 88%, 59%);
$button-color-1: hsl(12, 88%, 59%);
$button-color-2: hsl(0, 0%, 98%);
$banner-color-1: hsl(12, 88%, 59%);
$banner-color-2: hsl(233, 12%, 13%);
$paragraph-color: hsl(227, 12%, 61%);
$card-background: hsl(0, 0%, 98%);
$heading-color: hsl(228, 39%, 23%);
$li-color-2: hsl(0, 0%, 98%);
$contentContainer-color: #FFF0EC;

